*{
    box-sizing:border-box;
  }

html,body{
    height:100%;
    padding:0;
    margin:0;
    font-size: 72px;
  }

  
.box{
    width:300px;
    height:100px;
    background: rgb(36,0,0);
    background: linear-gradient(0deg, rgba(36,0,0,0.16600143475358897) 0%, rgba(121,9,9,1) 0%, rgba(255,72,0,1) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #ccc;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 3px;
  }
  
.container{ 
    width:100%;
    height:100%;
    background: rgb(34,100,195);
    background: radial-gradient(circle, rgba(34,100,195,1) 26%, rgba(45,253,229,1) 100%);
    display:flex;
    justify-content:center;
    align-items:center;
    
  }